.container {
  padding: 40px 60px;
}

.title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 30px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.state {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  color: #666;
}

.infoBox {
  margin: 35px 0 45px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}

.infoCard {
  background: #fff;

  border-radius: 18px;

  padding: 22px;

  text-align: center;

  border: 1px solid #eee;

  transition: .3s;

  box-shadow: 0 8px 18px rgba(0,0,0,.05);
}

.infoCard:hover {
  transform: translateY(-5px);

  border-color: #f7763d;

  box-shadow: 0 15px 30px rgba(247,118,61,.15);
}

.infoCard span {
  display: block;

  font-size: 34px;

  font-weight: 800;

  color: #f7763d;
}

.infoCard p {
  margin-top: 10px;

  color: #666;

  font-size: 15px;
}

@media(max-width:992px){

.infoBox{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.infoBox{
grid-template-columns:1fr;
}

}

@media (max-width: 768px) {
  .infoBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* این خط */

    gap: 10px;
    margin: 20px 0 30px;
  }

  .infoCard {
    flex: 0 1 calc(33.333% - 10px);

    min-width: 95px;
    max-width: 120px;

    padding: 10px 8px;

    border-radius: 12px;

    text-align: center;

    box-shadow: none;
  }
}