.card {
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 22px;

  background: #fff;

  border: 1px solid #eee;
  border-radius: 24px;

  position: relative;
  overflow: hidden;

  transition: 0.35s;

  flex-shrink: 0;
}

.card::before {
  content: "";

  position: absolute;
  inset: 0;

  border: 2px dashed transparent;
  border-radius: inherit;

  transition: 0.35s;

  pointer-events: none;
}

.card:hover {
  transform: translateY(-6px);

  background: rgba(247, 118, 61, 0.05);

  box-shadow: 0 18px 40px rgba(247, 118, 61, 0.18);
}

.card:hover::before {
  border-color: #f7763d;
}

.card img {
  transition: 0.4s;
}

.card:hover img {
  transform: scale(1.08);
}

.favoriteBtn {
  position: absolute;

  top: 16px;
  left: 16px;

  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  background: #fff;

  cursor: pointer;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

.favoriteBtn:hover {
  transform: scale(1.1);
}

.favoriteBtn:hover svg {
  fill: #ff4d6d;
  color: #ff4d6d;
}

.card h3 {
  margin: 18px 0 12px;

  font-size: 17px;
  line-height: 1.8;

  height: 58px;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;

  margin-bottom: 24px;
}

.price span {
  font-size: 24px;
  font-weight: 800;

  color: #2eaf5b;

  transition: 0.3s;
}

.card:hover .price span {
  color: #f7763d;
}

.actions {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 12px;

  margin-top: auto;
}

.cartBtn,
.detailsBtn {
  width: 100%;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 14px;

  font-size: 15px;
  font-weight: 700;

  transition: 0.3s;

  font-family: inherit;
}

.cartBtn {
  border: none;

  background: #eef8ff;
  color: #2587ff;

  cursor: pointer;
}

.cartBtn svg {
  transition: 0.3s;
}

.cartBtn:hover {
  background: #f7763d;
  color: white;

  box-shadow: 0 10px 22px rgba(247, 118, 61, 0.28);
}

.cartBtn:hover svg {
  color: white;
  transform: rotate(-10deg);
}

.detailsBtn {
  text-decoration: none;

  border: 1px solid #f7763d;

  background: white;
  color: #f7763d;
}

.detailsBtn:hover {
  background: #f7763d;
  color: white;
}

@media (max-width: 768px) {
  .card {
    min-width: 85%;
  }

  .price span {
    font-size: 21px;
  }
}
